/*
 * El color del diseño predeterminado es ete: #D8B9F7
 */

.root {
    -fx-font-size: 14px;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-color: white;
    -fx-background-color: #CFA8FF;
}